.start-container {
  // background-color: rgb(247, 247, 247);
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  // height: 100vh;
  // max-width: 100vh;
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
  // border: 1px red solid;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  // margin-top:30px;

  a {
    text-decoration: none;
  }

  // margin:20px;
}

.ht-card {
  display: grid;
  // grid-template-columns: 180px;
  grid-template-columns: 310px;
  grid-template-rows: 85px 280px 60px;
  grid-template-areas: "head" "text" "button";
  /* border: 1px black solid; */
  background-color: rgb(255, 255, 255);
  color: rgb(44, 44, 44);
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  // box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  box-shadow: -1px 4px 11px -3px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease;
  cursor: pointer;
  margin: 20px;

  h2 {
    font-size: 25px;
    font-weight: 400;
    color: white;
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    color: rgb(90, 90, 90);
    // padding-left: 40px;
    text-align: center;
    margin-top:0;
  }

  p,
  li {
    font-size: 13px;
    color: rgb(44, 44, 44);
  }

  .card-header.blue {
    background-color: rgb(74, 150, 205); // hh-Grön
  }
  .card-header.green {
    background-color: rgb(123, 170, 32); // hh-Grön
  }

  .card-header.purple {
    background-color: rgb(161, 75, 161); // hh-Grön
  }
  .card-header.red {
    background-color: rgb(229, 52, 76); // hh-Grön
  }

  .card-header.orange {
    background-color: rgb(242, 148, 0);
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: head;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // background-color: rgb(229,52,76); // hh-Grön
    color: white;
    vertical-align: middle;
    // margin-top:-px;
  }

  .card-text {
    grid-area: text;
    text-align: left;
    padding: 10px 15px;

    color: rgb(87, 87, 87);

    .zsmall {
      font-size: 12px;
      font-style: italic;
    }
  }

  .card-button {
    grid-area: button;
    border: 1px solid grey;
    margin: 10px 10px;
    text-align: center;
    border-radius: 10px;
    padding: 7px 0;
    font-weight: 500;
    color: gray;
  }

  .card-button:hover {
    background-color: rgb(61, 61, 61);
    color: white;
    border: 1px solid rgb(61, 61, 61);
  }
}

.ht-card:hover {
  // transform: scale(1.004);
  // box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  box-shadow: -1px 6px 15px -3px rgba(0, 0, 0, 0.3);
}
